$alert: '.cmp-alert';

#{$alert} {
  &__wrapper {
    background-color: transparent;
    height: 60px;
    padding: 15px;
    border: 3px solid white;
  }

  // types of alerts
  &__alert {
    background-color: red;
  }
  &__warning {
    color: black;
    background-color: orange;
  }
  &__info {
    background-color: blue;
  }

  // alignment
  &__left-aligned {
    #{$alert}__wrapper > p {
      text-align: start;
    }
  }
  &__center-aligned {
    #{$alert}__wrapper > p {
      text-align: center;
    }
  }
}
