// container decorator
$container: '.cmp-container';

// default values
#{$container} {
  margin: 0;
  padding: 0;

  // Width
  &__default {
    width: 100%;
  }
  &__contained {
    max-width: 1200px;
  }

  // Horizontal padding
  &__default-X-padding {
    padding-left: 64px;
    padding-right: 64px;
  }
  &__no-X-padding {
    padding-left: 0;
    padding-right: 0;
  }

  // Vertical padding
  &__default-Y-padding {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  &__no-Y-padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  // bg colours and text
  &__pink {
    color: $color-darkgrey;
    background-color: $color-pink;
  }
  &__transparent {
    color: $color-darkgrey;
    background-color: transparent;
  }
  &__blue {
    color: $color-white;
    background-color: $color-blue;
  }
  &__dark-grey {
    color: $color-white;
    background-color: $color-darkgrey;
  }
  &__white {
    color: $color-darkgrey;
    background-color: $color-white;
  }
  &__yellow {
    color: $color-darkgrey;
    background-color: $color-yellow;
  }
}
