//== Font
$font-family: 'Courier New', monospace;
$font-size: 16px;
$font-height: 1.5;

//== Color

// Normal mode
$color-foreground: #202020;
$color-background: #ececec;
$color-link: #2020e0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark: invert($color-link);

// My colors /////////////////////////////////////////////////

$color-yellow: #f7ff58;
$color-pink: #cc59d2;
$color-blue: #006cae;
$color-darkgrey: #30343f;
$color-white: #ffffff;

// Breakpoints /////////////////////////////////////////////////

$breakpoint-xsmall: 320px;
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1300px;

@mixin breakpoint($breakpoint) {
  @if ($breakpoint == xsmall) {
    @media (max-width: $breakpoint-xsmall) {
      @content;
    }
  } @else if ($breakpoint == small) {
    @media (max-width: $breakpoint-small) {
      @content;
    }
  } @else if ($breakpoint == medium) {
    @media (max-width: $breakpoint-medium) {
      @content;
    }
  } @else if ($breakpoint == large) {
    @media (max-width: $breakpoint-large) {
      @content;
    }
  } @else if ($breakpoint == xlarge) {
    @media (max-width: $breakpoint-extra-large) {
      @content;
    }
  } @else {
    @error "UNKNOWN MEDIA BREAKPOINT #{$breakpoint}";
  }
}

// Heading Levels for title ////////////////////////////////////
// Desktop
$headingDesktop1: 60px;
$headingDesktop2: 48px;
$headingDesktop3: 40px;
$headingDesktop4: 32px;
$headingDesktop5: 24px;
$headingDesktop6: 18px;

// Mobile
$headingMobile1: 48px;
$headingMobile2: 40px;
$headingMobile3: 32px;
$headingMobile4: 24px;
$headingMobile5: 18px;
$headingMobile6: 16px;

// Button options //////////////////////////////////////////////

$button-color-red: red; // Primary (Red Background)
$button-color-outline-red: rgb(255, 204, 204); // Primary Outline (Red Border)
$button-color-blue: blue; // Secondary (Blue Background)
$button-color-outline-blue: rgb(181, 181, 255); // Secondary Outline (Blue Border)
$button-color-tertiary: black; // Tertiary (White Border)
$button-color-white: white;

$button-width: fit-content;
$button-height: 80px;
$button-border-radius: 15px;
$button-font-size: 20px;
$button-font-weight: 600;
$button-padding: 20px;
$button-margin: 20px;

@mixin buttonStyles($bgColor, $borderColor) {
  @if ($bgColor & $borderColor) {
    background-color: $bgColor;
    border: 2px solid $borderColor;
  } @else {
    @error "PLEASE PROVIDE ARGUMENTS FOR #{$bgColor} AND #{$borderColor}";
  }
}

@mixin buttonStylesText($fontColor) {
  font-size: $button-font-size;
  color: $fontColor;

  @include breakpoint(medium) {
    font-size: 14px;
  }
}

@mixin hoverStyles($bg-color, $borderColor, $fontColor) {
  background-color: invert($bg-color);
  border: 2px solid invert($borderColor);
  color: invert($fontColor);
  transform: translate(5px, 5px);
  box-shadow: -10px -10px 10px invert(black);
}
